<div class="test">
  <div class="value-screen">1</div>
  <div class="button">1</div>
  <div class="button">1</div>
  <div class="button">1</div>
  <div class="button">1</div>
  <div class="button">1</div>
  <div class="button">1</div>
  <div class="button">1</div>
  <div class="button">1</div>
  <div class="button">1</div>
  <div class="button">1</div>
  <div class="button">1</div>
  <div class="button">1</div>
  <div class="button">1</div>
  <div class="button">1</div>
  <div class="button">1</div>
  <div class="button">1</div>
  <div class="button">1</div>
  <div class="button">1</div>
  <div class="button">1</div>
  <div class="button">1</div>
</div>
